@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-image: url("");
}

#fond {
    background-color: rgba(55, 72, 129, 0.76);
    margin: 5% auto;
    width: 35%;
    height: 500px;
}

.name {
    font-family:'Bebas Neue', cursive; ;
    font-weight: 12;
    font-size: 30px;
    color: rgb(66, 146, 146);
    text-align: center;
    margin-top: 10%;
}

input {
    border-color: rgba(15, 71, 116, 0.788);
    font-family: Arial Narrow, sans-serif;
    font-size: 11px;
    font-weight: 800;
    font-style: italic;
    color: rgb(4, 21, 34);
    margin-left: 35%;
}

.drop_zone {
    border: 3px solid rgba(23, 90, 73, 0.767);
    border-style: dotted;
    border-radius: 1px;
    width: 200px;
    height: 100px;
    margin-left: 19%;
}

p {
    text-align: center;
    margin-top: 21%;
    color: rgb(44, 68, 78);
}
   
