h1{
display:center;
}

body {
    background-image: url("");
}

#fond {
    background-color: rgba(55, 72, 129, 0.76);
    margin: 5% auto;
    width: 35%;
    height: auto;
}

.name {
    font-family:'Bebas Neue', cursive; ;
    font-weight: 900;
    font-size: 30px;
    color: rgb(66, 146, 146);
    text-align: center;
    margin-top: 5%;
}

input {
    border-color: rgba(15, 71, 116, 0.788);
    font-family: Arial Narrow, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    color: rgb(4, 21, 34);
    margin-left:5%;
}

.drop_zone {
    border: 3px solid rgba(23, 90, 73, 0.767);
    border-style: dotted;
    border-radius: 1px;
    width: 400px;
    height: 200px;
    margin-left:center;
}

p {
    text-align: center;
    margin-top: 5%;
    color: rgb(44, 68, 78);
} 

.label {
    align-items:center;
    display: flex-block;
}
