.drop_zone {
    border: 3px solid rgba(23, 90, 73, 0.767);
    border-style: dotted;
    border-radius: 1px;
    width: 400px;
    height: 200px;
    margin-left:center;
}
input {
    border-color: rgba(15, 71, 116, 0.788);
    font-family: sans -serif, sans-serif;
    font-size: 18px;
    font-weight: 11px;
    font-style: italic;
    color: rgb(4, 21, 34);
    margin-left:center;
}

.name {
    font-family:'Bebas Neue', cursive;
    font-weight:11px;
    font-size:18px;
    color: rgb(4, 21, 34);
}
